/* 
    Document   : control.css
    Created on : Nov 28, 2011, 4:16:19 PM
    Author     : trinisoftinc
    Description:
        Purpose of the stylesheet follows.
*/

.root{
    -fx-font-size: 14pt;
    -fx-font-family: "Tahoma";
    -fx-base: #DFB951;
    -fx-background: #A78732;
    -fx-focus-color: #B6A678;
}


.my-text {
    -fx-font-weight: bold;
    -fx-fill: white;
}